$semiBlack: #000000bf;
$green: #52c41a;

.title {
  display: inline-flex;
  max-width: 90%;
  font-family: Inter !important;

  a {
    text-decoration: none;
    color: #1976d2;
    &:visited {
      color: #1976d2;
    }
  }
}

span.text {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0px;
  color: $semiBlack;
  overflow-wrap: break-word;
}

.avatar {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 56px;
  h6 {
    margin: 0;
    text-transform: capitalize;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    padding-right: 12px;
  }

  time {
    color: #888;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0px;
    padding-right: 12px;
    vertical-align: middle;
  }

  img {
    width: 46px;
    height: 46px;
  }
}

button.deleteBtn,
button.editBtn {
  margin-left: 12px;
  border: 1px solid $green;
  a,
  span {
    text-transform: capitalize;
    text-decoration: none;
    color: inherit;
  }
}

button.deleteBtn {
  border-color: #f5222d;
}

.articleBtns {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 56px;
}

.dialogText {
  display: flex;
  align-items: center;
  svg {
    margin-right: 4px;
    color: #faad14;
  }
}
