$green: #52c41a;

.appBar {
  background-color: white !important;
  .blogLogo {
    text-decoration: none;
    color: black;
    &:hover {
      color: $green;
    }
  }
  button,
  h6 {
    text-transform: capitalize;
    color: black;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-left: 16px;
  }
  .signUp__btn {
    color: $green;
    border: 1px solid $green;
  }
}
