$green: #52c41a;

.appBar {
  background-color: white !important;
  .blogLogo {
    text-decoration: none;
    color: #000000d9;
    &:hover {
      color: $green;
    }
  }
  .profileLogo {
    text-decoration: none;
    display: flex;
    align-items: center;
    &:hover {
      color: $green;
    }
  }
  button,
  h6 {
    text-transform: capitalize;
    color: #000000d9;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-left: 16px;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  .signUpBtn {
    color: $green;
    border: 1px solid $green;
  }
  .logOut {
    color: #000000bf;
    border: 1px solid #000000bf;
  }
}
